### 목표
-AND, XOR 연산을 통해 기계가 학습과 정답을 예측하는 과정을 알아보자!

#### AND 연산 : 둘다 1이면 1이 출력, 하나라도 0이면 0이 니오는 연산

In [2]:
import pandas as pd
# 머신러닝을 지원하는 sklearn 라이브러리 가져오기
from sklearn.neighbors import KNeighborsClassifier
# 평가 지표들을 활용할 수 있는 metrics 모듈을 불러오기
from sklearn import metrics

In [3]:
df_and = pd.DataFrame([[0, 0, 0],
                      [0, 1, 0],
                      [1, 0, 0],
                      [1, 1, 1]],
                      columns= ["P", "Q", "P and Q"]
                     )
df_and

   P  Q  P and Q
0  0  0        0
1  0  1        0
2  1  0        0
3  1  1        1

In [4]:
# 문제 데이터 설정
X = df_and.iloc[:, :2]  # 모든 행, 0 ~ 1번 인덱스 컬럼 분리

# 정답 데이터 설정
y = df_and.iloc[:, 2]

In [5]:
X

   P  Q
0  0  0
1  0  1
2  1  0
3  1  1

In [6]:
y

0    0
1    0
2    0
3    1
Name: P and Q, dtype: int64

###  KNN 분류 모델을 불러와서 변수에 담아주기

In [7]:
knn_model = KNeighborsClassifier(n_neighbors=1)

### KNN 모델에 문제와 정답을 넣어서 학습시키기(fit)

In [8]:
knn_model.fit(X, y)

# knn_model 이라는 변수에 문제(X)와 정답(y)로 학습된 규칙이 그대로 담겨져 있음

KNeighborsClassifier(n_neighbors=1)

### 학습된 KNN 모델을 사용하여 정답을 예측해보기

In [9]:
# predict : 학습된 모델로 정답을 예측하는 명령
pre = knn_model.predict([[1, 1],
                         [0, 1],
                         [1, 0],
                         [0, 0]
                        ])

In [10]:
# 비교를 위해 실제 정답을 설정
answer = [1, 0, 0, 0]

### 모델 평가 진행

In [11]:
# 학습된 모델의 정확도를 표현(0~1값으로 도출, 1이면 100% 정확하다는 뜻)
metrics.accuracy_score(pre, answer)

1.0

### XOR 연산: 같으면 0, 다르면 1 이 나오는 연산

In [12]:
df_xor = pd.DataFrame([[0, 0, 0],
                       [0, 1, 1],
                       [1, 0, 1],
                       [1, 1, 0]],
                       columns= ["P", "Q", "P xor Q"]
                      )
df_xor

   P  Q  P xor Q
0  0  0        0
1  0  1        1
2  1  0        1
3  1  1        0

In [13]:
X1 = df_xor.iloc[:, :2] #문제 데이터
y1 = df_xor.iloc[:, 2]  #정답 데이터

In [14]:
X1

   P  Q
0  0  0
1  0  1
2  1  0
3  1  1

In [15]:
y1

0    0
1    1
2    1
3    0
Name: P xor Q, dtype: int64

In [16]:
knn_md = KNeighborsClassifier(n_neighbors=1)

In [17]:
knn_md.fit(X1, y1)

KNeighborsClassifier(n_neighbors=1)

In [18]:
que = knn_md.predict([[1, 1],
                      [1, 0],
                      [1, 1],
                      [0, 0]
                     ])

In [19]:
ans = [0, 1, 0, 0]

In [20]:
metrics.accuracy_score(que, ans)

1.0